<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 th:text="${contenido}"></h1>
    <div class="card-body">
        <div class="card-body">
            <form th:action="@{/agregar-venta/buscar-cliente-tabla-registro}" th:object=${cliente} method="post">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="nombre" style="color: white;">Nombre o Correo</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                   placeholder="Nombre de Cliente" required="required"
                                   th:field="*{nombre}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <input type="hidden" id="idCliente" name="idCliente" th:field="*{id_cliente}"/>
            </form>
            <span th:if="${datos!=null}" class="d-block p-2 text-bg-dark">Registrar Ventas</span>
            <div th:if="${datos!=null}" class="form-group">
                <label for="nombre_1" style="color: white;">Cliente</label>
                <input type="text" class="form-control" id="nombre_1" name="nombre"
                       placeholder="Nombre de Cliente" required="required"
                       readonly
                       th:value="${datos.nombre}">
                <div th:if="${datos!=null}" class="container mt-4">
                    <form th:action="@{/agregar-venta/agregar-items}" method="post" th:object="${formulario}">

                        <div id="itemsContainer"></div>

                        <button type="button" class="btn btn-primary" onclick="agregarItem()">
                            Agregar Item
                        </button>

                        <br><br>

                        <button type="submit" class="btn btn-success">
                            Guardar
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla::footer}"></footer>
<script th:replace="~{plantillas/plantilla::paginaScripts}"></script>
<script th:replace="~{ventas/js/autocompletar::jscliente}"></script>
<script th:replace="~{ventas/js/agregar::agregar}"></script>
</body>
</html>