<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>

<div class="container-fluid">
    <div th:if="${error}" class="alert alert-danger text-center fs-5" th:text="${error}"></div>
    <main class="container text-center col-md-6 p-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="card-header"><strong th:text="${contenido}"></strong></h1>
        <div class="card-body">

            <form th:action="@{/administrador/asignaturas/guardar}" th:object="${asignaturaDTO}" method="post">
                <input type="hidden" th:field="*{id}" />

                <div class="form-group text-start mb-4">
                    <label for="nombre" class="form-label fw-bold">Nombre de la Asignatura:</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''" id="nombre" name="nombre" placeholder="Ej. Álgebra Lineal" th:field="*{nombre}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                    <a th:href="@{/administrador/asignaturas}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>

        </div>
    </main>
</div>
<footer th:replace="~{plantillas/plantilla::footer}"></footer>
<script th:replace="~{plantillas/plantilla::paginaScripts}"></script>
</body>
</html>